@media screen and (max-width: 415px) {
    .main {
        background-image: url("./assets/pictures/background-small.jfif");
    }

    .dare {
        height: 70px;
        margin: 0 15px;
        font-size: 16px;
    }

    .fortune-button img {
        width: 200px;
        height: 210px;
    }

    .title {
        height: 140px;
        margin: 130px 0 90px;
        text-align: center;
        -webkit-text-stroke: 2px #4d3032;
        font-size: 60px;
        letter-spacing: 5px;
        text-shadow: 0 6px 5px #4d3032;
        background-color: #8dd0d8;
    }

    .logo {
        width: 50%;
        height: 40px;
    }

    .fortune-text {
        margin: 15px;
        padding: 15px;
        font-size: 16px;
    }
}

@media screen and (min-width: 415px) {
    .main {
        background-image: url("./assets/pictures/background-big.jfif");
    }

    .dare {
        padding: 25px 50px;
        font-size: 20px;
    }

    .title {
        margin-bottom: 0;
        text-align: center;
        -webkit-text-stroke: 3px #4d3032;
        font-size: 90px;
        letter-spacing: 20px;
        text-transform: uppercase;
        text-shadow: 0 30px 30px #4d3032;
    }

    .fortune-button img {
        width: 300px;
        height: 320px;
    }

    .logo {
        width: 25%;
        height: 60px;
    }

    .fortune-text {
        padding: 25px 50px;
        font-size: 36px;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.dare {
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: white;
    background-color: #8dd0d8;
    border-radius: 0 0 50px 50px;
    box-shadow: 0 3px 0 0 #4d3032;
}

.title {
    font-stretch: condensed;
    text-align: center;
    text-transform: uppercase;
    color: #7bc5ce;
    text-shadow: 0 6px 5px #4d3032;
}

.fortune-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    margin: 0 auto;
    padding: 0 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8dd0d8;
    border-radius: 50px 50px 0 0;
    box-shadow: 0 -3px 0 0 #4d3032;
}

.fortune-text {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: white;
    background-color: #8dd0d8;
    border-radius: 15px;
    border: 3px solid #4d3032;
    box-shadow: 0 3px 0 0 #4d3032;
	transform: scale(1);
	animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}